<% ['facebook', 'google_oauth2'].each do |provider| %>

        <%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path('user', provider) %>

<% end %>

<% if user_signed_in? %>
    <p>hello, <%= current_user.name %> !!!</p>
<% end %>
